@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.primary-color{
  background-color: #263238;
}

body{
  background-color: #263238;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  
}